<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ServerMasterNCII">
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".QuizActivity"
            android:exported="false" />
        <activity
            android:name=".ResultActivity"
            android:exported="false" />
        <activity
            android:name=".WorkgroupConfigActivity"
            android:exported="false" />
        <activity
            android:name=".FirewallSimulatorActivity"
            android:exported="false" />
        <activity
            android:name=".IPConfigSimulatorActivity"
            android:exported="false" />
        <activity
            android:name=".TerminalEmulatorActivity"
            android:exported="false" />
        <activity
            android:name=".StepSequencerActivity"
            android:exported="false" />
        <activity
            android:name=".PermissionSimulatorActivity"
            android:exported="false" />
        <activity
            android:name=".ServerMonitorActivity"
            android:exported="false" />
        <activity
            android:name=".DecisionTreeActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminDashboardActivity"
            android:exported="false"
            android:label="Admin Console"
            android:theme="@style/Theme.ServerMasterNCII" />
        <activity
            android:name=".admin.AdminMissionEditorActivity"
            android:exported="false"
            android:label="Mission Editor"
            android:theme="@style/Theme.ServerMasterNCII" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <!-- Make LoginActivity the launcher entry point -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Facebook SDK: required for Facebook Login -->
        <!-- IMPORTANT: Verify these match your Meta Developer Console settings -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />

        <!-- Facebook Login Activity (handles OAuth flow) -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:exported="true" />

        <!-- Custom Tab Activity (for modern Facebook login flow) -->
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>